@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Moo(ooo-ooooou) </h1>
    <p class="lead">Moo is a "Bulls and Cows" game web application, developed by Alex. Face off agains the computer oponent and see if you are up to the challenge</p>
    <p><a href="https://en.wikipedia.org/wiki/Bulls_and_Cows" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Getting started</h2>
        <p>
            All you need to to do is register a free account and start playing.
        </p>
        <p><a class="btn btn-default" href="/Game/Play">Register</a></p>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <h2>Top players</h2>
        <p>You can always check out top performing players</p>
        <p><a class="btn btn-default" href="/Game/TopPlayers">Browse</a></p>
    </div>
</div>