@model Moo.Entities.Models.Turn

<div class="form-group">
    <span class="control-label">Guess: </span>
    <input name="UserTurns.Guess" value="@Model.Guess" disabled="disabled" class="form-control" />
</div>
<div class="form-group">
    <span class="control-label">Bulls: </span>
    <input name="UserTurns.Bulls" value="@Model.Bulls" disabled="disabled" class="form-control" />
</div>
<div class="form-group">
    <span class="control-label">Bulls: </span>
    <input name="UserTurns.Cows" value="@Model.Cows" disabled="disabled" class="form-control" />
</div>