body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.alert {
    margin: 20px;
    text-align: center;
}
.nav > li > span {
    color: #999999;
    position: relative;
    display: block;
    padding: 15px 15px 10px 15px;
}
.body-content {
    margin-top:15px;
}
.turn-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
.turn-head {
    background: #ddd;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    text-align: center;
}
.turn-container ul {
    padding-left: 0;
    list-style: none;
}
.turn-container span {
    font-weight: 400;
}
.number-container {
    box-shadow: 0 3px 2px #ddd;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid brown;
    color: brown;
    font-size: 18px;
    height: 100px;
}
#user-total-guess-container input {
    width: 35px;
    display: inline-block;
    margin: 0 -3px 10px;
    padding:10px;
}
.turns-heading {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid brown;
    margin-bottom: 10px;
}
.main {
    text-align: center;
}
.end {
    background: whitesmoke;
    opacity: 0.8;
}
.end-body {
    background: white;
    padding-top:40px;   
    padding-bottom: 35px;
    opacity: 1;
    margin-top: 30px;
}
h2 {
    text-align: center;
}
.text-container {
    padding: 20px;
}
.text-container h4 {
    margin-bottom: 10px;
    font-weight: 400;
}
input.disabled {
    opacity: 0.5;
}

/* Bootstrap override */
.game-container .form-group,
.game-container .form-group input {
    text-align: center;
}
.game-container .form-group input {
    margin: auto;
}
